## Запуск и выключение базы данных Oracle

https://oracle-dba.ru/docs/startup-and-shutdown-oracle-instance/

## Используем библиотеку для работы с oracle

In [1]:
import cx_Oracle

In [2]:
cx_Oracle.version

'7.1.3'

In [3]:
# Создаем соединение
conn = cx_Oracle.connect('fevblp', 'fedosov13', 'localhost:1521/orcl')

## Используем sqlalchemy

In [4]:
import sqlalchemy as sa

In [5]:
# Создаем полключение к бд
oracle_db = sa.create_engine('oracle://fevblp:fedosov13@orcl')

# для подключения через cx-Oracle
# oracle_db = sa.create_engine('oracle+cx_oracle://fevblp:fedosov13@orcl')

In [6]:
# Соединяемся с базой данных
conn = oracle_db.connect()

##### Создание классов таблиц из подключения с помощью automap()

https://docs.sqlalchemy.org/en/13/orm/extensions/automap.html

In [8]:
from sqlalchemy.ext.automap import automap_base

Base = automap_base()
Base.prepare(oracle_db, reflect=True)

# таблица должна иметь primary_key
test_table_cls = Base.classes.test_table

##### Загрузка и удаление данных из таблиц

In [9]:
import pandas as pd

In [39]:
test_table_df = pd.DataFrame({'game': [1999], 'name': ['Eugene_Fedosov'], 'time': [27]})
test_table_df.head()

   game            name  time
0  1999  Eugene_Fedosov    27

In [40]:
test_table_df.to_dict(orient="records")

[{'game': 1999, 'name': 'Eugene_Fedosov', 'time': 27}]

In [45]:
test_table_df.to_sql('test_table', con=oracle_db, if_exists='append', index=False)
oracle_db.execute("SELECT * FROM test_table").fetchall()

[('Eugene_Fedosov', 1999, 27)]

##### Удаление строки из таблицы

In [42]:
# Создаем сессию
from sqlalchemy.orm.session import sessionmaker
Session = sessionmaker(bind=oracle_db)
session = Session()

In [53]:
session.query(test_table_cls).filter(test_table_cls.game == 1999)\
                             .delete(synchronize_session=False)
session.commit()

##### Массовая вставка с помощью bulk_insert_mapping

In [54]:
session.bulk_insert_mappings(test_table_cls, test_table_df.to_dict(orient="records"))
session.commit()
# Есть также bulk_update_mappings

https://stackoverflow.com/questions/36272316/using-bulk-update-mappings-in-sqlalchemy-to-update-multiple-rows-with-different

In [55]:
# откатываем сессию после ошибки
# session.rollback()